/* Universal Styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


/* Header */
.header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid Seashell;
  position: fixed;
  z-index: 20;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  top: 0;
}

.header img {
  height: 50px;
  width: auto;
  margin-left: 10px;
  z-index: 20;
}

.header nav {
  margin-right: 15px;
  z-index: 20;
}

.header nav span a {
  text-decoration: underline;
  color: Seashell;
  padding-left: 10px;
}

/* Mission Section */
.mission-section {
  background-image: url('../img/img-mission-background.jpg');
  background-size: cover;
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  top: 62px;
}

.mission-description {
  background-color: black;
  width: 100%;
}
